@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: "Bebas neue", sans-serif;
    color:rgb(238, 36, 93);
    padding: 10px;
}

/*reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(242, 205, 232);
    border-radius: 6px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center; /*vertical*/
    align-items: center; /*horizontal*/
}